*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  width: 100%;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 360px));
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px;
  gap: 24px;
}

.gallery-image {
  max-height: 200px;
}
